:root{
    --bg-color: white;
    --nav-bg-color : black;
    --nav-text-color: white;
    --base-variant:white;
    --primary-color:#3a435d;
    --dropdown-bg-color:black;
    --navTextHover:red;
    --border-color:#2c2c2c;
    --btn-bg-color:#1a1a1a;
    --btn-text-color:#fff;
    --text-color:black;
}

.darkmode{
    --bg-color: #101218;
    --nav-bg-color : rgb(248, 240, 240);
    --nav-text-color: #101218;
    --base-variant:white;
    --primary-color:#3a435d;
    --dropdown-bg-color:white;
    --navTextHover:red;
    --border-color:#9faee7;
    --btn-bg-color:#5b3bb4;
    --btn-text-color:#fff;
    --text-color:white;
}

body{
  color: var(--text-color);
}

.grid-container{
    display: grid;
    height: 100vh;
    grid-template-rows: repeat(2,2.5fr);
    grid-template-columns: 2fr 4fr ;
}

.inputSection{
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
}

.inputSection .header{
    margin-bottom: 1rem;
}

.optionGroup{
    margin: 15px 0;
}

.analtzeopt div,
.optionGroup div{
    margin: 5px 0;
}

.analtzeopt .analysisHeader{
    font-weight: bold;
    font-size: 1.5rem;
}

.analtzeopt span{
    font-weight: bold;
}

#sentence {
  font-size: 20px;
  width: 200px; 
  height: 60px; 
  padding-top: 5px; 
  padding-left: 5px;
  box-sizing: border-box; 
  text-align: left; 
}

#sentence::placeholder {
  text-align: left; 
  color: gray; 
}


/* Calcute button */
.frequecny-btn {
  margin: 7px 0;
  padding: 10px 20px;
  border: 2px solid var(--border-color);
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  width: 200px;
  height: 50px;
  font-size: 15px;
}

.frequecny-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.frequecny-btn:hover::after {
  transform: scale(4);
}

.frequecny-btn:hover {
  border-color: #666666;
  background: #292929;
}


.barchart{
    grid-area: 1 / 2 / 2 / 3;
}

.engBarchart{
    grid-area: 2 / 2 / 3 / 3;
}