*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: white;
    --nav-bg-color :#101218;
    --nav-text-color: white;
    --base-variant:white;
    --primary-color:#3a435d;
    --dropdown-bg-color:#101218;
    --btn-bg-color:#5b3bb4;
    --btn-text-color:#fff;
    --navTextHover:red;
    --text-color:#101218;
    --drop--hover-color:rgb(182, 219, 255);
}

.darkmode{
    --bg-color: #101218;
    --nav-bg-color : rgb(248, 240, 240);
    --nav-text-color: #101218;
    --base-variant:white;
    --primary-color:#3a435d;
    --dropdown-bg-color:white;
    --navTextHover:red;
    --text-color:white;
    --drop--hover-color:rgb(182, 219, 255);
    --btn-bg-color:#5b3bb4;
    --btn-text-color:#fff;
}

body{
    font-family: 'Orbitron', sans-serif;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-rows: 0.5fr 2fr 0.5fr 4fr;
    grid-template-columns: 2fr 2fr 2fr;
}

.header{
    grid-area: 1 / 1 / 2 / 4;
}

.inputSection{
    grid-area: 2 / 1 / 3 / 2 ;
    display: grid;
    width: 100vw;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 1.5fr 3fr 1.5fr;
}

.firstArea{
    grid-area: 1/1/3/2;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: start;
    margin: 15px auto;
    gap: 10px;
}

.secondArea{
    grid-area: 1/2/3/3 ;
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
}

.prompt{
    text-align: center;
}

#inputText{
    height: 80%;
}

.thirdArea{
    grid-area: 1/3/3/4;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.keysgp{
    grid-area: 1/1/2/2;
}


.conversionMethod{
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px 10px;
}

button{
    grid-area: 3 / 1 / 4 / 2;
    margin: 0 auto;
    padding: 10px 20px;
  border: 2px solid var(--border-color);
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  width: 200px;
  height: 50px;
  font-size: 15px;
}

button::after{
     content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}


button:hover::after {
  transform: scale(4);
}

button:hover {
  border-color: #666666;
  background: #292929;
}


select{
    width: 100%;
    height: 25px;
    border: 1px solid var(--dropdown-bg-color);
    cursor: pointer;
    outline: none;
    border-radius: 7px;
}

select:hover{
    background-color: var(--drop--hover-color);
}


h1{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: rgb(138, 146, 146); /* Cyan glow */
}


@keyframes glow {
            0% { text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #00ffff; }
            100% { text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #00ffff; }
}


.keysgp{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.keysgp label {
    margin-bottom: 5px;
    font-weight: bold;
}

.keysgp input {
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.displaySection{
    grid-area: 4/1/5/2;
    background-color: rgb(72, 36, 36);
}