* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: white;
    --nav-bg-color: #101218;
    --nav-text-color: white;
    --base-variant: white;
    --primary-color: #3a435d;
    --dropdown-bg-color: #101218;
    --navTextHover: red;
    --text-color: black;
}

.darkmode {
    --bg-color: #101218;
    --nav-bg-color: rgb(248, 240, 240);
    --nav-text-color: #101218;
    --base-variant: white;
    --primary-color: #3a435d;
    --dropdown-bg-color: white;
    --navTextHover: red;
    --text-color: white;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.4s ease, color 0.4s ease;
    animation: fadeEffect 0.4s ease;
}

/* Fade effect for smooth transitions */
@keyframes fadeEffect {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* Nav bar styling */
.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-bg-color);
    color: var(--nav-text-color);
    transition: background-color 0.4s ease, color 0.4s ease;
}

.leftside {
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
}

.leftside a {
    text-decoration: none;
}

.leftside a span {
    padding: 0;
}

.rightside {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.rightside div {
    margin: 3px 10px;
}

.rightside div a{
  text-decoration: none;
  font-size: 16px;
  color: var(--nav-text-color)
}
/* Toggle bar */
#theme-switch {
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.3s ease;
}

#theme-switch:hover {
    transform: scale(1.1);
}

#theme-switch svg {
    fill: var(--primary-color);
    transition: fill 0.4s ease, opacity 0.4s ease;
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}


/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: relative;
}

.modal-content .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.modal-content .close-btn:hover {
    color: red;
}

/* Flash Message Styles */
#flash-message-text {
    margin: 0;
    font-size: 16px;
}

