:root{
    --bg-color: white;
    --nav-bg-color : black;
    --nav-text-color: white;
    --base-variant:white;
    --primary-color:#3a435d;
    --dropdown-bg-color:black;
    --navTextHover:red;
    --border-color:#2c2c2c;
    --btn-bg-color:#1a1a1a;
    --btn-text-color:#fff;
    --text-color:black;
    --containerbg-color: #f9f9f9;
    --result-color:black;
    --result-hover:#180161;
    --containerbg-hover-color: #EEF7FF;
}

.darkmode{
    --bg-color: #101218;
    --nav-bg-color : rgb(248, 240, 240);
    --nav-text-color: #101218;
    --base-variant:white;
    --primary-color:#3a435d;
    --dropdown-bg-color:white;
    --navTextHover:red;
    --border-color:#9faee7;
    --btn-bg-color:#5b3bb4;
    --btn-text-color:#fff;
    --text-color:white;
    --containerbg-color: #17153B;
    --result-color:#EF5A6F;
    --result-hover:#912BBC;
    --containerbg-hover-color: hsla(243, 46%, 36%, 0.694);

}

body{
  color: var(--text-color);
}

.grid-container{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 4fr ;
}

.inputSection{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 0 auto;
}

.displaySection{
    grid-area: 2 / 1 / 3 / 2 ;
    margin: 0px 10px;
}

.input{
    margin: 10px;
}

#sentence{
    width: 350px;
    height: 100px;
    text-align: left;
    margin: 10px 0px;
}

label[for = "sentence"]{
    font-weight: bold;
    color: var(--text-color);
    font-size:  1.8rem;
}

/* Hover Btn */
/* Calcute button */
.shiftTester-btn {
  margin: 10px auto;
  padding: 10px 20px;
  border: 2px solid var(--border-color);
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  width: 200px;
  height: 50px;
  font-size: 15px;
}

.shiftTester-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.shiftTester-btn:hover::after {
  transform: scale(4);
}

.shiftTester-btn:hover {
  border-color: #666666;
  background: #292929;
}

/* Display result */

#resultHolder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: start;
    padding: 10px;
    background-color: var(--containerbg-color);
    border: 1px solid #ddd;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in 0.5s ease-out forwards;
}

.container:hover {
    background-color: var(--containerbg-hover-color);
    border: 1px solid var(--result-hover);
}

.num{
  margin-right: 10px;
}

.num, .result {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: var(--result-color);
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
