*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: white;
    --nav-bg-color : black;
    --nav-text-color: white;
    --base-variant:white;
    --primary-color:#3a435d;
    --dropdown-bg-color:black;
    --navTextHover:red;
    --text-color:black;
    --borderColor: black;
    --paratextcolor: black;
    --paratextHoveecolor: white;
    --cardColor: #F5F7F8;
    --cardHoverColor: #F2F9FF;
    --box-shawdow-hover:#384B70;
    --borderhover:#384B70;
}

.darkmode{
    --bg-color: rgb(17, 17, 17);
    --nav-bg-color : rgb(248, 240, 240);
    --nav-text-color: rgb(16, 15, 15);
    --base-variant:white;
    --primary-color:#3a435d;
    --dropdown-bg-color:white;
    --navTextHover:red;
    --text-color:white;
    --borderColor: white; 
    --paratextcolor: #F5F7F8;
    --paratextHoveecolor: #F1D4E5;
    --cardColor: #213363;
    --cardHoverColor: #201658;
    --box-shawdow-hover:#E966A0;
    --borderhover:#E966A0;
}

.toolsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.toolsContainer img,
.toolsContainer svg{
    width: 100px;
    height: 100px;
    display: block;
    margin: 7px auto;
}

.toolsContainer a{
    text-decoration: none;
    
}
.toolsContainer div{
    width: 20%;
    height: 60%;
    border: 2px solid var(--borderColor);
    border-radius: 20px;
    padding: 10px 20px;
    background-color: var(--cardColor);
    box-shadow: 0px 0px 5px;
}


.toolsContainer div:hover{
    border: 2px solid var(--borderhover);
    border-radius: 20px;
    padding: 10px 20px;
    background-color: var(--cardHoverColor);
    box-shadow: 0px 0px 7px var(--box-shawdow-hover);

}


div a{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--paratextcolor);
}

div h3{
    font-weight: bolder;
    font-size: 22px;
}

div a p{
    text-align: justify;
    line-height: 1.2;
}




