{% extends 'layout.html' %}

{% block title %}
    Track : Add
{% endblock %}

{% block extar_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add.css') }}">
{% endblock %}

{% block body %}
  <div class="add-user-container">
    <h3>Add User</h3>
    <hr>
    <form method="POST" action="{{ url_for('add_user') }}" class="add-user-form">
      <div class="form-group">
        <label for="text">Text</label>
        <input type="text" id="text" name="text" required class="form-input">
      </div>
      <div class="form-group">
        <label for="method">Method</label>
        <input type="text" id="method" name="method" required class="form-input">
      </div>
      <div class="form-group">
        <label for="chiper">Chiper</label>
        <input type="text" id="chiper" name="chiper" required class="form-input">
      </div>
      <input type="submit" value="Submit" class="submit-btn">
    </form>
  </div>
{% endblock %}