{% extends 'layout.html' %}

{% block title %}
    Track : Add
{% endblock %}

{% block extar_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add.css') }}">
{% endblock %}

{% block body %}
  <div class="add-user-container">
    <h3>Add New record</h3>
    <hr>
    <form method="POST" action="{{ url_for('add_user') }}" class="add-user-form">
      <div class="form-group">
        <label for="text">Text</label>
        <input type="text" id="text" name="text" required class="form-input">
      </div>
      <div class="form-group">
         <div class="select-dropdown">
                    <select name="method" id="method">
                        <option value="">Please choose an option</option>
                        <option value="decimal">Decimal</option>
                        <option value="binary">Binary</option>
                        <option value="hexadecimal">Hexadecimal</option>
                        <option value="reverse">Reverse</option>
                        <option value="caesar">Caesar</option>
                        <option value="substitution">Substitution</option>
                        <option value="bulb">Bulb</option>
                        <option value="garbage">Garbage</option>
                        <option value="multiplicate">Multiplicatin</option>
                    </select>
                </div>
      </div>
      <div class="form-group">
        <label for="chiper">Chiper</label>
        <input type="text" id="chiper" name="chiper" required class="form-input">
      </div>
      <input type="submit" value="Submit" class="submit-btn">
    </form>
  </div>
{% endblock %}