<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Css link -->
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <!-- Navigation bar -->
     <div class="navbarContainer">
        <div class="leftside">
            <div>Home</div>
            <div>Learn</div>
            <div>Tools</div>
            <div>Track</div>
        </div>
        <div class="rightside">
            <div></div>
            <div></div>
        </div>
     </div>
</body>
</html>