{% extends "base.html" %}

{% block title %}
    Bigram Analysis
{% endblock %}

<!-- Block for child specific css -->
 {% block extar_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bigram.css') }}">
 {% endblock %}

<!-- Block for child specific js -->
{% block extra_js %}
    <script src="{{ url_for('static', filename = 'js/bigram.js') }}" defer></script>
{% endblock %}

{% block main %}
    <div class="grid-container">
        <!-- Text input section -->
        <div class="inputSection">
            <!-- page header -->
            <h2 class="header">Bigram Analysis</h2>
            <div class="input">
                <label for="sentence">Enter text here:</label><br>
                <input type="text" id="sentence" name="sentence" required>
            </div>
            <div class="optionGroup">
                    <!-- Ask which option to select -->
                    <div>
                        <!-- Only letters -->
                        <input type="radio" id="onlyBigrams" name="filterOption" value="onlyBigrams">
                        <label for="onlyBigrams">only Bigrams</label>
                    </div>

                    <!-- To include space -->
                    <div>
                        <input type="radio" id="bigramsAndDigits" name="filterOption" value="bigramsAndDigits">
                        <label for="bigramsAndDigits">bigrams And Digits</label>
                    </div>

            </div>
        
            <!-- Calculate frequecny button -->
             <button id="bigrambtn" class="frequecny-btn">Calculate Frequency</button>
    
        </div>

        <!-- Bar char of the text -->
        <div class="barchart">
            <div id="inputTextChart" style="height: 370px; width: 100%;"></div>
            <!-- Cdn for chart -->
            <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
        </div>
        <div class="engBarchart">
            <div id="englishLetterChart" style="height: 370px; width: 100%;"></div>
            <!-- Cdn for chart -->
            <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
        </div>
    </div>
{% endblock %}