{% extends "base.html" %}

{% block title %}
    Frequency Analysis
{% endblock %}

<!-- Block for child specific css -->
 {% block extar_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/frequencyAnalysis.css') }}">
 {% endblock %}

<!-- Block for child specific js -->
{% block extra_js %}
    <script src="{{ url_for('static', filename = 'js/frequencyAnalysis.js') }}" defer></script>
{% endblock %}

{% block main %}
    <div class="grid-container">
        <!-- Text input section -->
        <div class="inputSection">
            <!-- page header -->
            <h2 class="header">Frequecny Analysis</h2>
            <div class="input">
                <label for="sentence">Enter text here:</label><br>
                <input type="text" id="sentence" name="sentence" required>
            </div>
            <div class="optionGroup">
                <!-- Ask which option to select -->
                <div>
                    <!-- Only letters -->
                    <input type="checkbox" id="onlyletters" name="onlyletters">
                    <label for="onlyletters">Only A to Z</label>
                </div>

                <!-- To include space -->
                <div>
                    <input type="checkbox" id="numbersOnly" name="numbersOnly">
                    <label for="numbersOnly">Only Digits</label>
                </div>

                <div>
                    <input type="checkbox" id="numbersAndLetters" name="numbersAndLetters">
                    <label for="numbersAndLetters">Only Letters and digit</label>
                </div>

    
            </div> 
    
            <div class="analtzeopt">
                <div class="analysisHeader">Analyze Option</div>
                <div>
                    <input type="checkbox" id="bigram" name="bigram">
                    <label for="bigram">Bigram <span>(Couples of 2 characters)</span></label>
                </div>

                <div>
                    <input type="checkbox" id="trigram" name="trigram">
                    <label for="trigram">Bigram <span>(set of 3 characters) </span></label>
                </div>
            </div>
            <!-- Calculate frequecny button -->
             <button id="frequecnybtn" class="frequecny-btn">Calculate Frequency</button>
    
        </div>

        <!-- Bar char of the text -->
        <div class="barchart">
            <div id="inputTextChart" style="height: 370px; width: 100%;"></div>
            <!-- Cdn for chart -->
            <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
        </div>
        <div class="engBarchart">
            <div id="englishLetterChart" style="height: 370px; width: 100%;"></div>
            <!-- Cdn for chart -->
            <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
        </div>
    </div>
{% endblock %}