{% extends "base.html" %}

{% block title %}
    Shift Tester
{% endblock %}

{% block extar_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shiftTester.css') }}">
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/shiftTester.js') }}" defer></script>
{% endblock %}

{% block main %}
<div class="grid-container">
    <!-- Input Section -->
    <div class="inputSection">
        <!-- Input text area -->
        <div class="input">
            <label for="sentence">Enter text here:</label><br>
            <input type="text" id="sentence" name="sentence" required>
        </div>

        <!-- Filter options -->
        <div class="filters">
            <label><input type="radio" name="filterOption" value="onlyletters" checked> Only Letters</label>
            <label><input type="radio" name="filterOption" value="numbersOnly"> Numbers Only</label>
            <label><input type="radio" name="filterOption" value="numbersAndLetters"> Letters and Numbers</label>
        </div>

        <!-- Button for Shift Tester -->
        <button id="shiftTesterbtn" class="shiftTester-btn">Calculate Frequency</button>
    </div>

    <!-- Display section -->
    <div class="displaySection">
        <div id="resultHolder">
            <span id="resultID"></span>
        </div>
    </div>
</div>
{% endblock %}
