{% extends "base.html" %}

{% block title %}
    Tools
{% endblock %}

<!-- Block for child specific css -->
 {% block extar_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/tools.css') }}">
 {% endblock %}

<!-- Block for child specific js -->
{% block extra_js %}
    <script src="{{ url_for('static', filename = 'js/tools.js') }}" defer></script>
{% endblock %}

{% block main %}
    <div class="toolsContainer">
        <!-- Frequency Analysis -->
        <div class="frequecnyAnalysis">
            <a href="/frequencyAnalysis" target="_blank">
                <img src="../static/images/Fa.gif" alt="Frequency  Analysis">
                <h3>Frequency Analysis</h3>
                <hr>
                <p>Frequency analysis identifies patterns in letter frequencies within ciphertext to exploit known language characteristics, aiding in breaking substitution ciphers. It matches these frequencies to typical letter distributions of the target language. This method is less effective against modern ciphers that disguise such patterns.</p>
            </a>
        </div>

        <!-- Shift tester -->
         <div class="shitTester">
            <a href="/shiftTester" target="_blank">
                <img src="../static/images/ST.gif" alt="Shift Tester">
                <h3>Shift Tester</h3>
                <hr>
                <p>
                    A shift tester systematically tests all possible shifts in a Caesar Cipher to reveal the plaintext. By automating brute force, it efficiently deciphers texts encoded with a fixed shift. This technique exploits the simplicity of the Caesar Cipher's structure.
                </p>
            </a>    
         </div>

         <!-- Index of Coincidence -->
         <div class="indexOfCoincidence">
            <a href="/indexOfCoincidence" target="_blank">
                <img src="../static/images/IC.gif" alt="indexOfCoincidence">
                <h3>Index of Coincidence (IC)</h3>
                <hr>
                <p>
                    The Index of Coincidence calculates how often letters in a ciphertext repeat, indicating whether the cipher is monoalphabetic or polyalphabetic. It helps detect the language or type of cipher used. IC is particularly effective for estimating key lengths in ciphers like the Vigenère cipher.
                </p>
            </a>
         </div>
    </div>
{% endblock %}