{% extends 'layout.html' %}

{% block title %}
    Track
{% endblock %}

{% block extar_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/track.css') }}">
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/track.js') }}" type="module" defer></script>
{% endblock %}

{% block body %}
  <h3>Track down with the records</h3>
   <p><a href='{{url_for("add_user")}}' class="add">Add Record📝</a></p>
  <table>
    <thead>
      <th>SNo</th>
      <th>Text</th>
      <th>Method</th>
      <th>Chiper</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      {% for row in datas %}
        <tr>
          <td>{{ row.id }}</td>
          <td>{{ row.plaintext }}</td>
          <td>{{ row.cphier_method }}</td>
          <td>{{ row.cphier_text }}</td>
          <td><a href='{{url_for("edit_user",id=row.id)}}' class="edit-link">Edit</a></td>
          <td><a href='{{url_for("delete_user",id=row.id)}}' class="delete-link" onclick='return confirm("Are You Sure")'>Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
 

{% endblock %}